<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left" style="background-color: rgba(238, 238, 238, 0.486);">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3 footer-col">

                <!-- Content -->
                <h5 class="text-uppercase">Witaj na gotuj z nami!</h5>
                <p>Jeśli Ci się podoba tutaj, to poleć koniecznie tą stronę swoim znajomym. Niech i oni odnajdą swoją kulinarną inspirację!</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-6 footer-col">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">O nas</a>
                    </li>
                    <li>
                        <a href="#!">O współpracy z nami</a>
                    </li>
                    <li>
                        <a href="#!">Do góry</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->



        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <span style="font-weight: 600">Stanisław Gruz</span>
    </div>
</footer>
</body>

</html>