
<div>
    <div class="jumbotron specialjum" style="background: url('img/jumbotron-background.png'); padding: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12" style="padding:10px;">
                    <h2 class="display-3 jumbotron-title" style=" color: white;">
                        Zimowe <br> inspiracje
                    </h2>
                    <br>
                    <div class="jumbotron-title" style="color:white;">
                        W tym miesiącu zaufały nam <span style="font-weight: 600">1623</span> osoby
                    </div>
                </div>
                <div class="col-lg-7 highlight d-none d-lg-block ">
                    Czyż jest coś przyjemniejszego zimą, niż świeża bułka posmarowana aromatycznym dżemem własnej
                    roboty? Przygotowanie domowych przetworów - dżemów, konfitur, nalewek oraz warzyw nie jest
                    trudne. Kiszone ogórki, marynowana papryka, przecier pomidorowy, grzyby w occie - to tradycyjne
                    przetwory, które muszą znaleźć się w każdej spiżarce. A jeśli masz ochotę na dżem pomarańczowy
                    z limonką, konfitury poziomkowe, ogórki w musztardzie czy domowy krem krówkowy, to dobrze
                    trafiłaś - bo i na takie przetwory znajdziesz tutaj sprawdzone przepisy. A przepis na ogórki
                    małosolne? Tak, też jest tutaj, przez wielu uważany za najlepszy na świecie :)
                </div>
            </div>

        </div>
    </div>
</div>
