<!-- ------------------------------------ HEADER ------------------------------------------ -->
<% include ../partials/header %>
<!-- ------------------------------------ /HEADER ------------------------------------------ -->

<!-- ------------------------------------ NAVBAR ------------------------------------------ -->
<% include ../partials/navbar %>
<!-- ------------------------------------ /NAVBAR ------------------------------------------ -->


<!-- ------------------------------------ JUMBOTRON ------------------------------------------ -->
<% include ../partials/jumbotron %>
<!-- ------------------------------------ /JUMBOTRON ------------------------------------------ -->

<!-- ------------------------------------ PRZEPISY ------------------------------------------ -->

<style>
    .recipe-box {
        padding: 30px;
    }

    .recipe-box img {
        width: 100%;
        height: 230px;
        overflow: hidden;
    }

    .recipe-title {
        font-family: 'Open Sans', sans-serif;
        padding: 10px;
        font-size: 20px;
        display: block;
        text-decoration: none;
        color: black;

    }

    .recipe-box:hover {
        background-color: rgba(189, 189, 189, 0.198);
        text-decoration: none;
    }
</style>
<div class="container" style="padding-bottom:40px;">
    <div class="row">

        <% for(var i=0; i < user_recipe_info.length; i++) { %>
        <a href="/przepisy/<%= user_recipe_info[i]['recipe_id'] %>" class="col-lg-4 col-md-6 col-12 recipe-box">

            <img src="<%= user_recipe_info[i]['recipe_main_photo_url'] %>">
            <div href="#" class="text-center recipe-title">

                <%= user_recipe_info[i]['recipe_name'] %>
            </div>

        </a>

        <% } %>

    </div>


</div>

<!-- ------------------------------------ /PRZEPISY ------------------------------------------ -->

<!-- ------------------------------------ FOOTER ------------------------------------------ -->
<% include ../partials/footer %>
<!-- ------------------------------------ /FOOTER ------------------------------------------ -->