<!-- ------------------------------------ HEADER ------------------------------------------ -->
<% include ../partials/header %>
<!-- ------------------------------------ /HEADER ------------------------------------------ -->

<!-- ------------------------------------ NAVBAR ------------------------------------------ -->
<% include ../partials/navbar %>
<!-- ------------------------------------ /NAVBAR ------------------------------------------ -->


<!-- ------------------------------------ JUMBOTRON ------------------------------------------ -->
<% include ../partials/jumbotron %>
<!-- ------------------------------------ /JUMBOTRON ------------------------------------------ -->

<!-- ------------------------------------ PRZEPISY ------------------------------------------ -->

<style>
    .recipe-box {
        padding: 30px;
    }

    .recipe-box img {
        width: 100%;
        height: 230px;
        overflow: hidden;
    }

    .recipe-title {
        font-family: 'Open Sans', sans-serif;
        padding: 10px;
        font-size: 20px;
        display: block;
        text-decoration: none;
        color: black;

    }

    .recipe-box:hover {
        background-color: rgba(189, 189, 189, 0.198);
        text-decoration: none;
    }
</style>
<div class="container" style="padding-bottom:40px;">
    <div class="row">
        <a href="#" class="col-lg-4 col-md-6 col-12 recipe-box">

            <img src="img/recipes/ciasto_pinata.jpg">
            <div href="#" class="text-center recipe-title">

                Ciasto Pinata
            </div>

        </a>
        <a href="#" class="col-lg-4 col-md-6 col-12 recipe-box">

            <img src="img/recipes/serowa_zapiekanka.jpg">
            <div href="#" class="text-center recipe-title">

                Serowa zapiekanka z brokułem
            </div>

        </a>

        <a href="#" class="col-lg-4 col-md-6 col-12 recipe-box">

            <img src="img/recipes/klasyczny_burger.jpg">
            <div href="#" class="text-center recipe-title">

                Klasyczny burger
            </div>

        </a>
        <a href="#" class="col-lg-4 col-md-6 col-12 recipe-box">

            <img src="img/recipes/dip.jpg">
            <div href="#" class="text-center recipe-title">

                Dip z ciecierzycy
            </div>

        </a>

        <a href="#" class="col-lg-4 col-md-6 col-12 recipe-box">

            <img src="img/recipes/grochowka.jpg">
            <div href="#" class="text-center recipe-title">

                Grochówka wojskowa
            </div>

        </a>
    </div>


</div>

<!-- ------------------------------------ /PRZEPISY ------------------------------------------ -->

<!-- ------------------------------------ FOOTER ------------------------------------------ -->
<% include ../partials/footer %>
<!-- ------------------------------------ /FOOTER ------------------------------------------ -->

